body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(166.66deg,  rgb(0, 206, 209) 10.62%, rgb(116, 75, 196) 86.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0 0; 
    font-size: 2em; 
    width: 95%;
    position: relative;
    top: 25px;
    margin-bottom: 50px;

}
h2 {
    background: -webkit-linear-gradient(166.66deg,  rgb(0, 206, 209) 10.62%, rgb(116, 75, 196) 86.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0 0;   
    
}
h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card-recommendation {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card-recommendation:hover {
    transform: translateY(-10px);
}

.card-recommendation img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card-recommendation h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.card-recommendation p {
    margin: 0;
    font-size: 1em;
    color: #666;
}
a {
    text-decoration: none;
}
#for{
    background: linear-gradient(to right, #0073ff 0%, #79bbcb  65%, #77A1D3  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px 0px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

footer {
    background-color: #9f9f9f;
    color: #fff;
    text-align: center;
    padding: 0 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
hr{
    width: 100%;
}

#wow-head{
    position: relative;
}
#wow-gif{
    display: block;
    position: absolute;
    bottom: 10%;
    left: -10%;
    display: none;
}
#wow:hover #wow-gif{
    display: block;
}
#wow:hover #wow-gif2{
    display: block;
}
#wow:focus #wow-gif2{
    display: block;
}
#wow:focus #wow-gif{
    display: block;
}

#wow-gif2{
    position: absolute;
    bottom: 10%;
    left: 95%;
    display: none;
}
.add-frage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 12px;
    border-color:  rgb(0, 206, 209);
    border-style:solid;
    border-width: thin;
}
.add-frage label{
    position: relative;
    top: 15px;
}
.add-frage input{
    padding: 10px;
}
.add-frage input[type="submit"]{
    width: 50%;
    height: 50%;
    position: relative;
    bottom: 10px;
}
@keyframes myAnimation {
    from {display: none;}
  to {display: block;}
  }


#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    width: 90%;
    padding: 5px;
    border: 5px;
    border-radius: 8px;
    margin: 10px;
  }
  input[type=text] {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
  }
  input[type=url] {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
  }

  input[type=text]:focus {
    background-color: white;
  }

  input[type=button], input[type=submit], input[type=reset] {
    
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  input[type=submit]:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.meta{
    display: flex;
    flex-direction: column;
    align-items:  stretch;
}
.radio{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
}

.checkbox label{
    width: 250px;
    position: relative;
    left: -60px;
}
.label-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#spruch-form{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 90%;
    padding: 5px;
    border: 5px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}
#spruch-form:focus {
    background-color: white;
  }


#back{ 
    position:absolute;
    top: 3%;
    right: 3%;
    text-decoration: none;
    font-size: small;
}

#scroll-down{
    padding-top: 80px;
}

